$orange:#f7600f;
$grey:#3b444d;
$lightgrey:#9ca1a5;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: #fff;
}
img {
    max-width: 100%;
}

.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
nav {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    p{
        margin:0 10px;
    }
       
    
}
.hamburger {
    visibility: hidden;
    display: flex;
    width: 40px;
	height: 40px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    cursor: pointer;
    span {
		display: block;
		width: 35px;
		height: 2px;
		background-color: #fff;

		&:nth-of-type(2){
			margin: 5px 0;
        }
    }
        
    
}
.button {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: transparent;
    min-width: 150px;
    margin: 0 15px;
    color: white;
    border: 1px solid $lightgrey;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: $orange;
        border-color: $orange;
        
   }

}
.orange {
    background-color: $orange;
    border: none;
    &:hover {
        background-color: transparent;
        border: 1px solid white;
    }
}
.show {
    
    color:$grey;
    &:hover{
        color: white;
    }
}
.input {
    height: 46px;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 16px;
}
.img-frame {
    border: 1px solid $lightgrey ;
    border-radius:9999px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header {
    padding: 50px 0;
    position: relative;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
}
.heading {
    color:$grey;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:200;
    text-align: center;
    width: 30%;
    margin: 0 auto 70px;
    
    span {
        color:$orange;
        font-weight: 500;
       
    }
    h2 {
        margin-bottom: 25px;
    }
    p {
        font-size: 16px;
        line-height: 32px;
        
    }

}

.main {
    margin-top: -173.5px;
}

    

.banner-section {
    background-image: url(/img/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    .banner-heading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        text-align: center;
        
    
    }
    h1 {
        font-size: 60px;
        margin-bottom: 25px;
        color: white;
        span {
            color:$orange;
        }
        }
        p {
            font-size: 25px;
            margin-bottom: 25px;
        }
        
    img {
        visibility: hidden;
    }
    .arrow-down {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        img {
            visibility:visible;
        }
    }
}
.icons {
    padding: 70px 0;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .article {
            width: 25%;
            color: $grey;
            text-align: center;
            padding: 0 15px;
        }
        h2 {
            margin: 30px 0;
        }

        

    }
}
.subscribe-section {
    background-image: url(/img/newsletter-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        text-align: center;
        .input {
            width:55%;
        }
        .button {
            width: 30%;
        }

    }
    img {
        visibility: hidden;
    }

}
.our-works {
    padding:70px 0;
  button {
      display: block;
      margin: 0 auto;
  }
}
.people-say {
    background-image: url(/img/testimonials-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    
        
    .content{
        position: relative;     
        text-align: center;
        font-size: 25px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
    }
   p {
       width: 70%;
       margin: 25px auto;
   }
    img {
    
    margin: 25px auto;
    }
    
  .backimg{
      visibility: hidden;
  }
  .arrow-left {
      position: absolute;
      left: 10%;
      top: 55%;
  }
  .arrow-right {
      right: 10%;
      top: 55%;
      position: absolute;
      
  }
}
.our-team {
    padding:70px 0;
    text-align: center;
    
               
    
    img {
        max-width: 236px;
        margin:0 auto;
        display: block;
                      
    }
   svg {
      color: $grey;
        
    }
}
.say-hello {
    padding:70px 0 ;
    background-image: url(/img/contact-background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .button {
        margin:0;
    }
    form {
         width: 100%;
     }
    .input-holder {
        display: flex;
        justify-content: space-between;
    }         
    .heading {
       
        p {
            margin: 0;
            color: white;
        }
    }
    h2 {
        color:white;
    }
    img {
        visibility: hidden;
    }
    .wrapper {
           
           width: 100%;           
        form {
               width: 100%;
               padding: 0;
       }

    textarea {
        border-radius: 10px;
        margin:20px 0;
        width: 100%;
        min-height:200px;

    }
    .input {
        width: 45%;
    }
}
}
@media(max-width:420px){
   
 .heading {
       max-width: 400px;
   }
   
    nav {
        .hamburger{
            visibility: visible;
        }
        p{
            display: none;
        }
    }
   .banner-heading{
       width: 100%;
       h1 {
        font-size: 30px;
        width: 100%;
        
    }
    p {
        font-size: 20px;
    }
    
   }
   .button {
       width: 90%;
       margin-top:10px;
   }
   .icons {
       .container{
           display: flex;
           flex-direction: column;
           align-items: center;
           .article {
               width: 100%;
           }
       }
   }
   .subscribe-section {
       height: 300px;
      
       
       form {
            .input {
           width: 100%;
     
       }
       .button {
           width: 100%;
           margin: 10px 0;
       }

       }
      
   }
  .portfolio {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .heading{
            width: 90%;
        }
    .our-works {
        
        .button {
            width: 100%;
            margin: 0;
        }
    }
    .our-team {
        .heading{
            width: 90%;
        }
    }
    
    
    .people-say {
        p {
            font-size: 16px;
        }
        .arrow-right {
            right: 5%;
        }
        .arrow-left {
            left: 5%;
        }
                       
    }
   .say-hello {
       min-height:800px;
       .heading {
           width: 90%;
       }
      
       .input-holder {
           display: flex;
           flex-direction: column;
           align-items: center;
          
           .input {
           width: 100%;
           margin-top: 10px;
       }
    }
    .orange {
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    
   }
}
@media(max-width:421px){
    
    .banner-heading {
        width: 100%;
        h1 {
            width: 100%;
            font-size: 35px;
        }
        p {
            font-size: 20px;
        }
        
            
        
    }
    .button {
        width: 80%;
        margin-top:10px;
    }
    .icons {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .article {
                width: 80%;
            }
        }
    }
    .subscribe-section {
        min-height:200px;
        .input {
            width: 45%;
        }
        .button {
            width: 40%;
            margin: 0;
        }
    }
    .heading {
        width: 90%;
        max-width: 550px;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .people-say {
        p {
            font-size: 16px;
            
        }
        .arrow-right {
            right: 5%;
        }
        .arrow-left {
            left: 5%;
        }
                       
    }
    .say-hello {
        .input-holder {
            flex-direction: column;
            align-items: center;
            .input {
                width: 100%;
                margin: 10px;
            }
            .button {
                margin-bottom: 20px;
                width: 100%;
                max-width: 550px;
            }
        }
    }
    
}
@media(min-width:422px) and(max-width:767px){
    .banner-heading {
        width: 100%;
        h1 {
            width: 100%;
            font-size: 40px;
        }
        p {
            font-size: 25px;
        }
                   
    }
    .button {
        width: 80%;
        margin-top:10px;
    }
    .icons {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .article {
                width: 80%;
            }
        }
    }
    .subscribe-section {
        min-height:200px;
        .input {
            width: 45%;
        }
        .button {
            width: 40%;
            margin: 0;
        }
    }
    .heading {
        width: 90%;
        max-width: 550px;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .people-say {
        p {
            font-size: 16px;
            
        }
        .arrow-right {
            right: 5%;
        }
        .arrow-left {
            left: 5%;
        }
                       
    }
    .say-hello {
        .input-holder {
            flex-direction: column;
            align-items: center;
            .input {
                width: 100%;
                margin: 10px;
            }
            .button {
                margin-bottom: 20px;
                width: 100%;
                max-width: 550px;
            }
        }
    }
}
@media(min-width:768px)and (max-width:990px){
    .heading {
        width: 80%;
    }
    .banner-heading {
        width: 90%;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 25px;
        }
        .button {
            width: 45%;
        }
    }
    .icons {
        .container {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2,1fr);
            .article {
                width: 100%;
            }
                                  
        }
       
    }
    .portfolio {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);
        img { 
            margin: 0 auto;
        }
    }
    .say-hello {
        .input-holder {
            display: flex;
            flex-direction: column;
            align-items: center;
            .input {
                width: 100%;
                margin-top:10px ;
            }
            .button {
                width: 100%;
                max-width: 550px;
                margin-bottom: 20px;
            }
        }
    }
}

 